.header {
  box-sizing: border-box;
  margin: 45px auto 0;
  width: var(--width-xl);
  display: flex;
  justify-content: space-between;
  min-height: 73px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 918px) {
  .header {
    min-height: 56px;
    margin-top: 28px;
    width: 100%;
  }
}
