.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: baseline;
  gap: 10px 18px;
}

@media screen and (max-width: 918px) {
  .profile__info {
    max-width: 282px;
    align-items: center;
    gap: 7px 10px;
    padding-left: 26px;
  }
}
