.card__trash {
  display: none;
  position: absolute;
  border: 0;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background: transparent url(../../../images/card-trash.svg) no-repeat center;
  background-size: 18px 19px;
  object-fit: cover;
  transition-property: opacity;
  transition-duration: .3s;
}

.card__trash:hover {
  opacity: .6;
  cursor: pointer;
}
