.auth__input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ccc;;
  margin: 0;
  padding: 0 0 13px;
  font-size: 14px;
  color: #ccc;
}

.auth__input::placeholder {
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  color: #ccc;
}

.auth__input:first-child {
  margin-bottom: 50px;
}